
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
            </div>
        </div>
        <div class="row" id="contact-address">
            <div class="col-sm-6">
                  <h4 class="test-muted">Nicholas Navin, Associate Professor</h4>
                  <h5 class="test-muted">
                <address>
                    Department of Genetics<br>
                    The University of Texas MD Anderson Cancer Center<br>
                    6767 Bertner Ave. Room BSRB S15.8412<br>
                    Houston, Tx, 77030
                </address>

              </h5>
                <p><a href="mailto:NNavin@mdanderson.org">nnavin (at) mdanderson.org</a></p>
            </div>

            <div class="col-sm-6"> <iframe width="100%" height="350" frameborder="0"
                    scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=-95.4019930958748%2C29.704024510088473%2C-95.39673596620561%2C29.70691103867899&amp;layer=mapnik&amp;marker=29.70546778475441%2C-95.39936453104019"
                ></iframe><br/><small><a
                href="https://www.openstreetmap.org/?mlat=29.70547&amp;mlon=-95.39936#map=19/29.70547/-95.39936">View
                Larger Map</a></small>
            </div>
        </div>
    </div>
</section>




<!--
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us<br /><br /></h2>
                </div>
            </div>
            <div class="row" id="contact-address">
                <div class="col-sm-6">
                      <h4 class="test-muted">Nicholas Navin, Associate Professor</h4>
                      <h5 class="test-muted">
                    <address>
                        Department of Genetics<br>
                        The University of Texas MD Anderson Cancer Center<br>
                        6767 Bertner Ave. Room BSRB S15.8412<br>
                        Houston, Tx, 77030
                    </address>

                  </h5>
                    <p><a href="mailto:NNavin@mdanderson.org">nnavin (at) mdanderson.org</a></p>
                </div>

                <div class="col-sm-6"> <iframe width="100%" height="350" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=-95.4019930958748%2C29.704024510088473%2C-95.39673596620561%2C29.70691103867899&amp;layer=mapnik&amp;marker=29.70546778475441%2C-95.39936453104019"
                    ></iframe><br/><small><a
                    href="https://www.openstreetmap.org/?mlat=29.70547&amp;mlon=-95.39936#map=19/29.70547/-95.39936">View
                    Larger Map</a></small>
                </div>
            </div>
        </div>
    </section>
-->
