<!-- Thanks Section -->
    <section id="funding">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Funding support</h2>
                </div>
          </div>

          <div class="row">

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.cancer.org/"><img src="img/funding/acs.png" class="img-responsive " alt=""></a>
                                      <h4><a href="https://www.cancer.org/">American Cancer Society</a></h4>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://lefkofskyfoundation.com/"><img src="img/funding/lff.png" class="img-responsive " alt=""></a>
                                      <h4><a href="http://lefkofskyfoundation.com/">Lefkofsky Family Foundation</a></h4>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.uth.edu/"><img src="img/funding/ut.png" class="img-responsive " alt=""></a>
                                      <a href="https://www.uth.edu/"><h4>T.C. Hsu Award</h4></a>

                                  </div>
                              </div>



                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://www.cancer.gov/"><img src="img/funding/nci.png" class="img-responsive " alt=""></a>
                                      <a href="http://www.cancer.gov/"><h4>National Cancer Institute (NCI)</h4></a>

                                  </div>
                              </div>


                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.mdanderson.org/research/departments-labs-institutes/programs-centers/center-for-genetics-and-genomics.html"><img src="img/funding/mdacc.png" class="img-responsive " alt=""></a>
                                      <a href="https://www.mdanderson.org/research/departments-labs-institutes/programs-centers/center-for-genetics-and-genomics.html"><h4>Center for Genetics & Genomics</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.agilent.com/univ_relation/index.shtml"><img src="img/funding/at.png" class="img-responsive " alt=""></a>
                                      <a href="https://www.agilent.com/univ_relation/index.shtml"><h4>Agilent University Relations Grant</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://www.damonrunyon.org/"><img src="img/funding/drc.png" class="img-responsive " alt=""></a>
                                      <h4><a href="http://www.damonrunyon.org/">Damon Runyon-Rachleff Innovation Award</h4></a>

                                  </div>
                              </div>


                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://www.akrfoundation.org/"><img src="img/funding/ak.png" class="img-responsive " alt=""></a>
                                      <a href="http://www.akrfoundation.org/"><h4>Alice Kleberg Reynolds Foundation</h4></a>

                                  </div>
                              </div>



                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://nadiasgift.org/"><img src="img/funding/ng.png" class="img-responsive " alt=""></a>
                                      <a href="http://nadiasgift.org/"><h4>Nadia’s Gift Foundation</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://www.crownwm.com/ronald-simon-family-foundation.html"><img src="img/funding/simon.png" class="img-responsive " alt=""></a>
                                      <a href="http://www.crownwm.com/ronald-simon-family-foundation.html"><h4>Simon Family Foundation</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.chanzuckerberg.com/"><img src="img/funding/zukerburg.png" class="img-responsive " alt=""></a>
                                      <a href="https://www.chanzuckerberg.com/"><h4>Chan Zuckerberg Initiative</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.mdanderson.org/about-md-anderson/facts-history/moon-shots-program.html"><img src="img/funding/moonshot.png" class="img-responsive " alt=""></a>
                                      <a href="https://www.mdanderson.org/about-md-anderson/facts-history/moon-shots-program.html"><h4>Moon Shots Program</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="http://www.nih.gov/"><img src="img/funding/nih.png" class="img-responsive " alt=""></a>
                                      <h4><a href="http://www.nih.gov/">National Institute of Health (NIH)</h4></a>

                                  </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                  <div class="team-member">
                                      <a href="https://www.pcf.org/"><img src="img/funding/prostate.png" class="img-responsive " alt=""></a>
                                      <h4><a href="https://www.pcf.org/">Prostate Cancer Foundation</h4></a>

                                  </div>
                              </div>


                        </div>
                        <h3 class="section-subheading text-muted">
                          We are very grateful for your generous funding support
                        </h3>
        </div>
    </section>
