<!-- Jobs Section -->
    <section id="jobs" style="padding-top: 200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="height: 120px;">
                    <h2 class="section-heading">Jobs</h2>
                    
                    <h3 class="section-subheading text-muted">
                      <a>Postdoc in Computational Biology  </a>
                    </h3>
                  </div>
                    <div class="body">
                      <p>
                        We seek a talented individual with a strong background in computational biology, data science or bioinformatics. This individual will develop methods to analyze large-scale single cell sequencing datasets to understand cancer evolution. The ideal candidate will have experience in Unix/Linux, scripting languages (Perl, Python), statistical languages (R, Matlab) and experience with next-generation sequencing data analysis.
                      </p>
                    <p></p>
                    <p>Requirements: Ph.D. in Bioinformatics, Computational Biology, Biostatistics or Data Science</p>
                    </div>
                  <div class="col-lg-12 text-center" style="height: 70px;">
                    <h3 class="section-subheading text-muted">
                      <a>Postdoc in Cancer Biology</a>
                    </h3>
                  </div>

                  <div class="body">
                    <p>
                    The Navin laboratory has an open position for a postdoctoral fellow in cancer biology in the department of Genetics at the MD Anderson Cancer Center in Houston, TX.&nbsp; We seek a talented individual with a strong background in experimental molecular biology and cancer biology techniques. This individual will work on projects that use single cell DNA and RNA sequencing to study cancer evolution, including invasion, metastasis or therapeutic resistance.&nbsp; The ideal candidate will have strong scientific writing skills, experience in genomics and computational biology.
                    </p>
                    <p></p>
                    <p>Requirements: Ph.D. in Molecular Biology, Genomics or Cancer Biology</p>
                </div>

                <div class="body">
                  <p>
                  The CPRIT Single Cell Genomics Center and Navin laboratory are seeking a Senior Research Assistant that will work on the processing human tissue samples and prepare them for various single cell sequencing library preparations (10x Genomics), including DNA, RNA and ATAC data.  Please see <a href="https://jobs.mdanderson.org/search/jobdetails/senior-research-assistant---dr-nicholas-navins-laboratory-qpcr-pcr-tissue-culture/e3b95f56-04b1-49b0-bcc4-3a9be72ce844">the description</a> for more details.
                  </p>
                  <p></p>
                  <p>Requirements: BS in natural sciences or related field with 3+ years experience. </p>
                  <p>Preferred: MS or Ph.D. in natural sciences or related field with experience in NGS, qPCR, PCR and tissue culture experience. </p>

                  <p>&nbsp;</p>
                  <p>To apply please send a CV and cover letter to Nicholas Navin at 'nnavin' (at) mdanderson (dot) org.</p>
              </div>

            </div>
        </div>
    </section>
