<!-- Jobs Section -->
    <section id="jobs" style="padding-top: 200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="height:130px;">
                    <h2 class="section-heading">Jobs</h2>
                    <h3 class="section-subheading text-muted">
                      <a>Postdoc Positions in Single Cell Genomics </a>- Data Scientist and Cancer Biologist
                    </h3>
                    </div>
                  <div class="body">
                    <p>
                    The Navin laboratory has an open position for a postdoctoral fellow in cancer biology in the department of Genetics at the MD Anderson Cancer Center in Houston, TX.&nbsp; We seek a talented individual with a strong background in experimental molecular biology and cancer biology techniques. This individual will work on projects that use single cell DNA and RNA sequencing to study metastatic dissemination in human cancer samples and xenografts.&nbsp; The ideal candidate will have strong scientific writing skills, experience in genomics and computational biology, including experience in Unix/Linux, scripting languages (Perl, Python) and statistical languages (R, Matlab) and experience working with blood and circulating tumor cells.
                    </p>
                    <p>&nbsp;</p>
                    <p>Requirements: Ph.D. in Molecular Biology, Genomics or Cancer Biology</p>
                    <p>&nbsp;</p>
                    <p>To apply please send an updated CV and three letters of recommendations to Nicholas Navin, Ph.D., at&nbsp;<a href="mailto:nnavin@mdanderson.org">nnavin@mdanderson.org</a>.</p>
                </div>
            </div>
        </div>
    </section>
