<!-- Jobs Section -->
    <section id="jobs" style="padding-top: 200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="height: 120px;">
                    <h2 class="section-heading">Jobs</h2>
                    
                    <h3 class="section-subheading text-muted">
                      <a>Postdoc in Computational Biology  </a>
                    </h3>
                  </div>
                    <div class="body">
                      <p>
                        We seek a talented individual with a strong background in computational biology, data science or bioinformatics. This individual will develop methods to analyze large-scale single cell sequencing datasets to understand cancer evolution. The ideal candidate will have experience in Unix/Linux, scripting languages (Perl, Python), statistical languages (R, Matlab) and experience with next-generation sequencing data analysis.
                      </p>
                    <p></p>
                    <p>Requirements: Ph.D. in Bioinformatics, Computational Biology, Biostatistics or Data Science</p>
                    </div>
                  <div class="col-lg-12 text-center" style="height: 70px;">
                    <h3 class="section-subheading text-muted">
                      <a>Postdoc in Cancer Biology</a>
                    </h3>
                  </div>

                  <div class="body">
                    <p>
                    The Navin laboratory has an open position for a postdoctoral fellow in cancer biology in the department of Genetics at the MD Anderson Cancer Center in Houston, TX.&nbsp; We seek a talented individual with a strong background in experimental molecular biology and cancer biology techniques. This individual will work on projects that use single cell DNA and RNA sequencing to study cancer evolution, including invasion, metastasis or therapeutic resistance.&nbsp; The ideal candidate will have strong scientific writing skills, experience in genomics and computational biology.
                    </p>
                    <p></p>
                    <p>Requirements: Ph.D. in Molecular Biology, Genomics or Cancer Biology</p>

                </div>

                <div class="col-lg-12 text-center" style="height: 70px;">
                  <h3 class="section-subheading text-muted">
                    <a href=https://www.nature.com/naturecareers/job/data-manager-computational-scientist-in-single-cell-genomics-the-university-of-texas-md-anderson-cancer-center-752218">Data Scientist/Manager</a>
                  </h3>
                </div>

                <div class="body">
                  <p>
                  The CPRIT Single Cell Genomics Center and Navin laboratory are seeking a data scientist/manager that will work on the processing and analysis of single cell sequencing dataset, including DNA, RNA and ATAC data. please see <a href="https://www.nature.com/naturecareers/job/data-manager-computational-scientist-in-single-cell-genomics-the-university-of-texas-md-anderson-cancer-center-752218">the description</a> for more details.                  </p>
                  <p></p>
                  <p>Requirements: BS in computer science, bioinformatics or data science with 5+ years experience. </p>
                  <p>Preferred: MS or Ph.D. in computer science, bioinformatics or data science with experience in R, Python, Linux server administration and data management. </p>
                  <p>&nbsp;</p>
                  <p>To apply please send a CV and cover letter to Nicholas Navin at 'nnavin' (at) mdanderson (dot) org.</p>
              </div>

            </div>
        </div>
    </section>
