<!-- Portfolio Grid Section -->
    <section id="news" style="padding-top: 200px;padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lab News</h2>

            </div>

            </div>
            <div class="row">
            <ul>
                <li>
                  <h4>2018</h4>
                  <p class="paragraph_style"><a href="https://www.genomeweb.com/cancer/single-cell-study-details-development-chemoresistant-breast-cancer#.WyKEFRJKgUE">Single-Cell Study Details Development of Chemoresistant Breast Cancer </a><span class="style_3">(Genome Web</span>)<br /></p>
                  <p class="paragraph_style"><a href="https://www.mdanderson.org/research/departments-labs-institutes/labs/navin-laboratory/news-and-media.html">2018 Dallas Forth Worth Living Legend Faculty Achievement Award in Basic Research </a><span class="style_3">(MDACC NEWS</span>)<br /></p>

                <!--Brent Pedersen-->
                </li>
		 <li>
                  <h4>2017</h4>
                  <p class="paragraph_style"><a href="https://www.mdanderson.org/publications/promise/spring-2017/md-anderson-physicians-researchers-recognized-for-advancing-mission-to-end-cancer.html">Jack and Beveraly Randall Prize for Excellence in Cancer Treatment </a><span class="style_3">(MDACC NEWS</span>)<br /></p>

                <!--Brent Pedersen-->
                </li>

                  <li>
                    <h4>2016</h4>
                    <p class="paragraph_style"><a href="http://news.rice.edu/2016/05/03/monovar-drills-down-into-cancer-genome/">Monovar drills down into the cancer genome</a><span class="style_3">(Rice News</span>)<br /></p>

                    <!--Brent Pedersen-->
                  </li>

                  <li>
                    <h4>2015</h4>
                    <p class="paragraph_style"><a href="https://www.genomeweb.com/scan/background-forefront#.WyKCKxJKgUE">From the Background to the Forefront </a><span class="style_3">(Genome Web</span>)<br /></p>
                    <p class="paragraph_style"><a href="https://www.aaas.org/news/single-cell-sequencing-pioneer-wins-aaas-wachtel-cancer-research-award">Single-Cell Sequencing Pioneer Wins AAAS Wachtel Cancer Research Award </a><span class="style_3"> (AAAS, NIH</span>)<br /></p>


                  </li>

                  <li>
                    <h4>2014</h4>
                    <p class="paragraph_style"><a href="http://www.nature.com/nrclinonc/journal/vaop/ncurrent/full/nrclinonc.2014.140.html">Subclones - Go Forth and Mutate  </a><span class="style_3">(Nature Rev Clinical Oncology</span>)<br /></p>
                    <p class="paragraph_style"><a href="http://www.nature.com/nature/journal/v512/n7513/full/nature13650.html">Cancer: One Cell At a Time </a><span class="style_3">(Nature</span>)<br /></p>
                    <p class="paragraph_style"><a href="http://www.genomeweb.com/sequencing/new-single-cell-sequencing-approach-researchers-examine-tumor-evolution-mutation">With New Single-Cell Sequencing Approach, Researchers Examine Tumor Evolution and Mutation Rates  </a><span class="style_3">(Genome Web</span>)<br /></p>
                    <p class="paragraph_style"><a href="http://www.mdanderson.org/newsroom/news-releases/2014/same-cancer-different-time-zone.html">Same Cancer, Different Time Zone (MD Anderson News)</a></h4>


                  </li>

                  <li>
                    <h4>2013</h4>
                    <p class="paragraph_style"><a href="https://www.simonsfoundation.org/quanta/20131113-tracking-the-evolution-of-cancer-cell-by-cell/">Tracking the Evolution of Cancer, Cell by Cell</a><span class="style_3"> (Quanta / Scientific American</span>)<br /></p>
                    <p class="paragraph_style"><a href="http://www.nature.com/nature/journal/v499/n7459/full/499505a.html">Cancer Shows Strength Through Diversity </a><span class="style_3">(Nature</span>)<br /></p>
                    <p class="paragraph_style"><a href="http://www.sciencemag.org/content/339/6127/1543.full">The Downside to Diversity</a> <span class="style_3">(Science</span>)<br /></p>
                    <p class="paragraph_style"><a href="http://www.nature.com/news/genomics-the-single-life-1.11710">Genomics: The Single Life</a> <span class="style_3">(Nature</span>)<br /></p>

                  </li>
              </ul>
              </div>


              </div>
      </section>
