<!-- Portfolio Grid Section -->
    <section id="news" style="padding-top: 200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lab News</h2>

            </div>

            </div>
            <div class="row">
            <ul>
              <li>

                <h4>2024</h4>

                <p class="paragraph_style"><a href="https://www.mdanderson.org/newsroom/healthy-women-have-cells-that-resemble-breast-cancer.h00-159702279.html"> Aneuploid epithelial cells in normal breast tissues is published in Nature! </a><span class="style_3">(MDACC NEWS</span>)<br /></p>

                <p class="paragraph_style"><a href="https://worldwidewest.com/2024/10/15/the-wta-foundation-launches-breast-cancer-awareness-month-with-the-acing-cancer-campaign-by-hologic/"> Dr. Dittmar, postdoctoral fellow, receives funding from the WTA Foundation and the American Cancer Society! </a><span class="style_3">(WTA Foundation</span>)<br /></p>

                <p class="paragraph_style"><a href="https://www.mdanderson.org/newsroom/md-anderson-receives-over--21-4-million-cprit-funding-support-research-launch-new-core-facilities.h00-159699912.html"> Advanced Spatial Genomics Core facility receives CPRIT funding! </a><span class="style_3">(MDACC NEWS</span>)<br /></p>


              <!--Brent Pedersen-->
              </li>
              <li>
                <h4>2023</h4>
                <p class="paragraph_style"><a href="https://www.mdanderson.org/newsroom/largest-ever-atlas-normal-breast-cells-brings-unprecedented-insights-mammary-biology.h00-159619434.html"> Human Breast Cell Atlas is published in Nature! </a><span class="style_3">(MDACC NEWS</span>)<br /></p>

              <!--Brent Pedersen-->
              </li>
              
              </ul>
              </div>


              </div>
      </section>
