<!-- videos Grid Section -->
<section id="photos">
<!-- <section id="videos" class="bg-light-gray">-->
    <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Pix</h2>
              </div>
          </div>

          <!--   <div class="row">
              <img src="img/photos/combine.png" alt="lab-2018" class="center">
            </div> -->

              <div class="row">
                <img src="img/photos/combine3.png" style="width:100%">
              </div>



                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h3><a href="https://photos.app.goo.gl/2V4QojZqsNLVgEXb8">See more photos <i class="fa fa-arrow-right"></i></a></h3>
                      </div>
                  </div>
    </div>
</section>
