<!-- videos Grid Section -->
<section id="photos">
<!-- <section id="videos" class="bg-light-gray">-->
    <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Photos</h2>
              </div>
          </div>

          <!--   <div class="row">
              <img src="img/photos/combine.png" alt="lab-2018" class="center">
            </div> -->


              <div class="row">
                <img src="img/photos/DSC_0155.JPG" style="width:100%">
              </div>



            <p> </p>
            <p> </p>

            <div style="max-width:1000px;min-width:250px;position:relative;margin:auto;">

              <div class="mySlides fade" style="display: block;">
                <div class="numbertext">1 / 4</div>
                <img src="img/photos/IMG_5598.JPG" style="width:100%">
                <div class="text">Caption Text</div>
              </div>

              <div class="mySlides fade" style="display: none;">
              <div class="numbertext">2 / 4</div>
              <img src="img/photos/IMG_5622.JPG" style="width:100%">
              <div class="text">Caption Two</div>
              </div>

              <div class="mySlides fade" style="display: none;">
                <div class="numbertext">3 / 4</div>
                <img src="img/photos/IMG_5601.JPG" style="width:100%">
                <div class="text">Caption Three</div>
              </div>

              <div class="mySlides fade" style="display: none;">
                <div class="numbertext">4 / 4</div>
                <img src="img/photos/IMG_5622.JPG" style="width:100%">
                <div class="text">Caption Four</div>
              </div>


            <a class="slprev" onclick="plusSlides(-1)">❮</a>
            <a class="slnext" onclick="plusSlides(1)">❯</a>

            </div>
              <br>
            <div style="text-align:center">
              <a href="javascript:void(0)" class="dot slideractive" onclick="currentSlide(1)" title="slide 1"></a>
              <a href="javascript:void(0)" class="dot" onclick="currentSlide(2)" title="slide 2"></a>
              <a href="javascript:void(0)" class="dot" onclick="currentSlide(3)" title="slide 3"></a>
              <a href="javascript:void(0)" class="dot" onclick="currentSlide(4)" title="slide 4"></a>
            </div>







                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h3><a href="https://photos.app.goo.gl/2V4QojZqsNLVgEXb8">See more photos <i class="fa fa-arrow-right"></i></a></h3>
                      </div>
                  </div>
    </div>
</section>
