<!-- videos Grid Section -->
<section id="photos">
<!-- <section id="videos" class="bg-light-gray">-->
    <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Photos</h2>
              </div>
          </div>

          <!--   <div class="row">
              <img src="img/photos/combine.png" alt="lab-2018" class="center">
            </div> -->

              <!--  <div class="row">
                <img src="img/photos/DSC_0155.JPG" style="width:100%">
              </div> -->



              <!--<div class="image-slider">-->

              <div class="carousel-hero carousel-group default carousel-config-image slick-initialized slick-slider">

              <div class="slick-list draggable" tabindex="0" style="padding: 0px 20%;"><div class="slick-track" style="opacity: 1; width: 5175px; transform: translate3d(-1150px, 0px, 0px);">

                <div class="carousel-item slick-slide slick-cloned" index="-2" style="width: 575px;">

              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="img/photos/ximage.resize.jpg.pagespeed.ic.Yefw5Q93tZ.webp">
              </picture>
              </div>
              </div>

              <div class="carousel-item slick-slide slick-cloned" index="-1" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="img/photos/ximage.resize.jpg.pagespeed.ic.6khDoF36UZ.webp">
              </picture>
              </div>
              </div>

              <div class="carousel-item slick-slide slick-active slick-center" index="0" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="img/photos/ximage.resize.jpg.pagespeed.ic.RRr0lpwb7o.webp">
              </picture>
              </div>
              </div>

              <div class="carousel-item slick-slide" index="1" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/ximage.resize.jpg.pagespeed.ic.OkR4tVhgLJ.webp">
              </picture>
              </div>
              </div>

              <div class="carousel-item slick-slide" index="2" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/1/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/1/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/1/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/1/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/1/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/1/ximage.resize.jpg.pagespeed.ic.sxNM3xIdDr.webp">
              </picture>
              </div>
              </div><div class="carousel-item slick-slide" index="3" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/4/ximage.resize.jpg.pagespeed.ic.Yefw5Q93tZ.webp">
              </picture>
              </div>
              </div><div class="carousel-item slick-slide" index="4" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/3/ximage.resize.jpg.pagespeed.ic.6khDoF36UZ.webp">
              </picture>
              </div>
              </div><div class="carousel-item slick-slide slick-cloned slick-center" index="5" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/5/ximage.resize.jpg.pagespeed.ic.RRr0lpwb7o.webp">
              </picture>
              </div>
              </div>

              <div class="carousel-item slick-slide slick-cloned" index="6" style="width: 575px;">
              <div class="carousel-image">
              <picture> <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.1430.800.high.jpg 2x, /content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.715.400.high.jpg 1x" alt="Navin Lab members use computational biology" media="(min-width: 993px)">
              <source srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.715.400.high.jpg" alt="Navin Lab members use computational biology" media="(min-width: 753px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.1090.350.high.jpg 2x,/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/image.resizefh.545.175.high.jpg 1x" alt="Navin Lab members use computational biology" src="/content/mda/en/research/departments-labs-institutes/labs/navin-laboratory/_jcr_content/mainparsys/imageslideshow/slides/2/ximage.resize.jpg.pagespeed.ic.OkR4tVhgLJ.webp">
              </picture>
              </div>
              </div>
            </div>

          <!--</div> -->




              <button type="button" data-role="none" class="slick-prev" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" style="display: block;">Next</button>
            </div>
              </div>


                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h3><a href="https://photos.app.goo.gl/2V4QojZqsNLVgEXb8">See more photos <i class="fa fa-arrow-right"></i></a></h3>
                      </div>
                  </div>
    </div>
</section>
