<section id="protocol">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Protocol</h2>
            </div>
            <div class="col-lg-12 text-center">

                <h3 class="section-heading">
                    DNA
                </h3>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="img/protocol/SCAMP-Seq protocol_05152017.docx">Purification of circulating free DNA from whole blood</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="img/protocol/QIAamp Circulating Nucleic Acid Kit.docx">QIAamp Circulating Nucleic Acid Kit</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="img/protocol/2017-08-07 Single-Cell NGS Protocols_correctedMDA.xlsx">Single-Cell NGS Protocols_correctedMDA</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="img/protocol/DAPI Nuclei Prep from Solid Tissue Samples">DAPI Nuclei Prep from Solid Tissue Samples</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>

                <h3 class="section-heading">
                    RNA
                </h3>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="img/protocol/CG00052_Chromium Single Cell 3' Reagent Kits v2 User Guide_RevA.pdf">Single Cell Protocols Cell Preparation Guide</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3 class="section-heading">
                    Cells
                </h3>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="img/protocol/LCM Protocol for Collecting Cells.docx">LCM Protocol for Collecting Cells</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
