<section id="protocol">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Protocol</h2>
            </div>
            <div class="col-lg-12 text-center">

                <h3 class="section-heading">
                    DNA
                </h3>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="/protocol/Tagmentation DNA with In-house Tn5_02122018ES.docx">Tagmentation DNA with In-house Tn5</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="/protocol/2017-08-07 Single-Cell NGS Protocols_correctedMDA.xlsx">Single-Cell NGS Protocols_correctedMDA.</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3 class="section-heading">
                    RNA
                </h3>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="/protocol/CG00052_Chromium Single Cell 3' Reagent Kits v2 User Guide_RevA.pdf">Single Cell Protocols Cell Preparation Guide</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
