<section id="protocol">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Protocol</h2>
            </div>
            <div class="col-lg-12 text-center">



                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="https://www.protocols.io/view/dissociation-of-nuclear-suspensions-from-human-bre-t3aeqie">Dissociation of Nuclear Suspensions from Human Breast Tissues</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="https://www.protocols.io/view/dissociation-of-single-cell-suspensions-from-human-t3geqjw">Dissociation of Single Cell Suspensions from Human Breast Tissues</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="https://www.ncbi.nlm.nih.gov/pubmed/22555242">Single Nucleus Sequencing for DNA Copy Number Profiling</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-015-0616-2">Single Nucleus Exome Sequencing</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4><a href="https://www.ncbi.nlm.nih.gov/pubmed/26741407">Single Nucleus Targeted Sequencing’</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
