<!-- publications Grid Section -->
<section id="publications"
         style="padding-top: 200px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Selected publications</h2>
                <h2 class="section-heading"></h2>
            </div>
        </div>


        <!-- ========================================================= -->
        <!-- 2026 - Pan-cancer single-cell CNV                       -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://doi.org/10.1158/2159-8290.CD-25-0964">

                    <img src="img/publications/pancancer.png"
                         style="width: 100%; height: 180px; object-fit: contain;"
                         alt="A pan-cancer single-cell analysis of intratumoral copy number diversity and evolution"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://doi.org/10.1158/2159-8290.CD-25-0964">
                        A pan-cancer single-cell analysis of intratumoral copy number diversity and evolution
                    </a>
                </h4>

                <span class="style_3">Cancer Discovery</span>

                <ul class="publication-authors">
                    <li>Hanghui Ye</li>
                    <li>Thomas O. McDonald</li>
                    <li>Reem Elghaish</li>
                    <li>Emi Sei</li>
                    <li>Darlan Conterno Minussi</li>
                    <li>Min Hu</li>
                    <li>Shanshan Bai</li>
                    <li>Chenling Tang</li>
                    <li>Junke Wang</li>
                    <li>Kaile Wang</li>
                    <li>...</li>
                    <li>Nicholas E. Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2026</span>
                        <span class="month">Jun</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2026 - TNBC chemotherapy ecotypes                       -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://www.nature.com/articles/s41586-026-10469-9">

                    <img src="img/publications/tnbc-chemo.png"
                         style="width: 100%; height: 240px; object-fit: contain;"
                         alt="Ecotypes of triple-negative breast cancer in response to chemotherapy"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://www.nature.com/articles/s41586-026-10469-9">
                        Ecotypes of triple-negative breast cancer in response to chemotherapy
                    </a>
                </h4>

                <span class="style_3">Nature</span>

                <ul class="publication-authors">
                    <li>Yun Yan</li>
                    <li>Yiyun Lin</li>
                    <li>Tapsi Kumar</li>
                    <li>Shanshan Bai</li>
                    <li>Aatish Thennavan</li>
                    <li>Jianzhuo Li</li>
                    <li>Emi Sei</li>
                    <li>Tuan Tran</li>
                    <li>Min Hu</li>
                    <li>Mitchell Rao</li>
                    <li>Chenling Tang</li>
                    <li>Siyuan He</li>
                    <li>Anna Casasent</li>
                    <li>...</li>
                    <li>Nicholas Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2026</span>
                        <span class="month">May</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2026 - CopyKit                                          -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://doi.org/10.1016/j.molcel.2025.12.026">

                    <img src="img/publications/copykit.png"
                         style="width: 100%; height: 230px; object-fit: contain;"
                         alt="Delineating the copy-number substructure of metastatic tumors with CopyKit"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://doi.org/10.1016/j.molcel.2025.12.026">
                        Delineating the copy-number substructure of metastatic tumors with CopyKit
                    </a>
                </h4>

                <span class="style_3">Molecular Cell</span>

                <ul class="publication-authors">
                    <li>Junke Wang</li>
                    <li>Darlan Conterno Minussi</li>
                    <li>Alexander Davis</li>
                    <li>Runmin Wei</li>
                    <li>Hanghui Ye</li>
                    <li>Emi Sei</li>
                    <li>Aislyn Schalck</li>
                    <li>Yun Yan</li>
                    <li>Hua-Jun Wu</li>
                    <li>Shanshan Bai</li>
                    <li>Cheng Peng</li>
                    <li>Min Hu</li>
                    <li>Anna Casasent</li>
                    <li>...</li>
                    <li>Nicholas Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2026</span>
                        <span class="month">Jan</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2025 - wellDR-seq                                       -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://doi.org/10.1016/j.cell.2025.08.012">

                    <img src="img/publications/welldr.png"
                         style="width: 100%; height: 230px; object-fit: contain;"
                         alt="Coalescing single-cell genomes and transcriptomes to decode breast cancer progression"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://doi.org/10.1016/j.cell.2025.08.012">
                        Coalescing single-cell genomes and transcriptomes to decode breast cancer progression
                    </a>
                </h4>

                <span class="style_3">Cell</span>

                <ul class="publication-authors">
                    <li>Kaile Wang</li>
                    <li>Rui Ye</li>
                    <li>Shanshan Bai</li>
                    <li>Zhenna Xiao</li>
                    <li>Lei Yang</li>
                    <li>Jianzhuo Li</li>
                    <li>Chenling Tang</li>
                    <li>Emi Sei</li>
                    <li>Jinyu Peng</li>
                    <li>Anna K. Casasent</li>
                    <li>...</li>
                    <li>Nicholas E. Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2025</span>
                        <span class="month">Sep</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2024 - Normal breast aneuploid cells                    -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://www.nature.com/articles/s41586-024-08129-x">

                    <img src="img/publications/normalaneu.png"
                         alt="Normal breast tissues harbour rare populations of aneuploid epithelial cells"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://www.nature.com/articles/s41586-024-08129-x">
                        Normal breast tissues harbour rare populations of aneuploid epithelial cells
                    </a>
                </h4>

                <span class="style_3">Nature</span>

                <ul class="publication-authors">
                    <li>Yiyun Lin</li>
                    <li>Junke Wang</li>
                    <li>Kaile Wang</li>
                    <li>Shanshan Bai</li>
                    <li>Aatish Thennavan</li>
                    <li>Runmin Wei</li>
                    <li>Yun Yan</li>
                    <li>Jianzhuo Li</li>
                    <li>Heba Elgamal</li>
                    <li>Emi Sei</li>
                    <li>...</li>
                    <li>Nicholas Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2024</span>
                        <span class="month">Nov</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2023 - DCIS progression                                 -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://www.cell.com/cell/fulltext/S0092-8674(23)00802-4">

                    <img src="img/publications/arcwell.jpg"
                         alt="Archival single-cell genomics reveals persistent subclones during DCIS progression"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://www.cell.com/cell/fulltext/S0092-8674(23)00802-4">
                        Archival single-cell genomics reveals persistent subclones during DCIS progression
                    </a>
                </h4>

                <span class="style_3">Cell</span>

                <ul class="publication-authors">
                    <li>Kaile Wang</li>
                    <li>Tapsi Kumar</li>
                    <li>Junke Wang</li>
                    <li>Darlan Conterno Minussi</li>
                    <li>Emi Sei</li>
                    <li>Jianzhuo Li</li>
                    <li>Tuan M. Tran</li>
                    <li>Aatish Thennavan</li>
                    <li>Min Hu</li>
                    <li>Anna K. Casasent</li>
                    <li>Zhenna Xiao</li>
                    <li>Shanshan Bai</li>
                    <li>Lei Yang</li>
                    <li>...</li>
                    <li>Nicholas Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2023</span>
                        <span class="month">Aug</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2023 - Human Breast Cell Atlas                          -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://www.nature.com/articles/s41586-023-06252-9">

                    <img src="img/publications/hbca.jpg"
                         alt="A spatially resolved single-cell genomic atlas of the adult human breast"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://www.nature.com/articles/s41586-023-06252-9">
                        A spatially resolved single-cell genomic atlas of the adult human breast
                    </a>
                </h4>

                <span class="style_3">Nature</span>

                <ul class="publication-authors">
                    <li>Tapsi Kumar</li>
                    <li>Kevin Nee</li>
                    <li>Runmin Wei</li>
                    <li>Siyuan He</li>
                    <li>Quy H. Nguyen</li>
                    <li>Shanshan Bai</li>
                    <li>Kerrigan Blake</li>
                    <li>Maren Pein</li>
                    <li>Yanwen Gong</li>
                    <li>...</li>
                    <li>Devon A. Lawson</li>
                    <li>Kai Kessenbrock</li>
                    <li>Nicholas Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2023</span>
                        <span class="month">Jun</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- 2021 - Breast tumor subclonal diversity                 -->
        <!-- ========================================================= -->

        <div class="row publication">

            <div class="col-md-4 col-sm-4 publication-image hidden-xs"
                 style="text-align: right;">

                <a href="https://www.nature.com/articles/s41586-021-03357-x">

                    <img src="img/publications/act.png"
                         alt="Breast tumours maintain a reservoir of subclonal diversity during expansion"/>

                </a>

            </div>

            <div class="col-md-6 col-sm-5 col-xs-6 publication-description">

                <h4>
                    <a href="https://www.nature.com/articles/s41586-021-03357-x">
                        Breast tumours maintain a reservoir of subclonal diversity during expansion
                    </a>
                </h4>

                <span class="style_3">Nature</span>

                <ul class="publication-authors">
                    <li>Darlan C. Minussi</li>
                    <li>Michael D. Nicholson</li>
                    <li>Hanghui Ye</li>
                    <li>Alexander Davis</li>
                    <li>Kaile Wang</li>
                    <li>Toby Baker</li>
                    <li>Maxime Tarabich</li>
                    <li>Emi Sei</li>
                    <li>Haowei Du</li>
                    <li>Mashiat Rabbani</li>
                    <li>Cheng Peng</li>
                    <li>Min Hu</li>
                    <li>Shanshan Bai</li>
                    <li>Yu-wei Lin</li>
                    <li>Aislyn Schalck</li>
                    <li>...</li>
                    <li>Nicholas Navin</li>
                </ul>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="publication-date">
                    <div>
                        <span class="year">2021</span>
                        <span class="month">Mar</span>
                    </div>
                </div>
            </div>

        </div>



        <!-- ========================================================= -->
        <!-- See all publications                                    -->
        <!-- ========================================================= -->

        <div class="row">

            <div class="col-lg-12 text-center">

                <h3>
                    <a href="https://scholar.google.com/citations?hl=en&user=e4mp7GoAAAAJ&view_op=list_works&sortby=pubdate">
                        See all publications
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </h3>

            </div>

        </div>

    </div>

</section>
