<!-- publications Grid Section -->
<section id="publications" style="padding-top: 200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Selected publications</h2>
                  <h2 class="section-heading"></h2>
              </div>
          </div>

          <div class="row publication">
              <div class="col-md-4 col-sm-4 publication-image hidden-xs" style="text-align: right">
                  <a href="https://www.sciencedirect.com/science/article/pii/S0092867418303659?via%3Dihub"><img src="img/publications/che.png"/></a>
              </div>

              <div class="col-md-6 col-sm-5 col-xs-6 publication-description">
                  <h4><a href="https://www.sciencedirect.com/science/article/pii/S0092867418303659?via%3Dihub">Chemoresistance Evolution in Triple-Negative Breast Cancer Delineated by Single-Cell Sequencing</a></h4> <span class="style_3">Cell</span>
                  <ul class="publication-authors">
                  <li>Charissa Kim</li>
                  <li>Ruli Gao</li>
                  <li>Emi Sei</li>
                  <li>Rachel Brandt</li>
                  <li>Johan Hartman</li>
                  <li>Thomas Hatschek</li>
                  <li>Nicola Crosetto</li>
                  <li>Theodoros Foukakis</li>
                  <li>Nicholas E. Navin</li>
                  </ul>
              </div>

              <div class="col-md-2 col-sm-3 col-xs-6">
                  <div class="publication-date">
                      <div><span class="year">2018</span><span class="month">Apr</span></div>
                  </div>
              </div>
          </div>

          <div class="row publication">
              <div class="col-md-4 col-sm-4 publication-image hidden-xs" style="text-align: right">
                  <a href="https://www.sciencedirect.com/science/article/pii/S0092867417314496?via%3Dihub"><img src="img/publications/invasive.png" /></a>
              </div>

              <div class="col-md-6 col-sm-5 col-xs-6 publication-description">
                  <h4><a href="https://www.sciencedirect.com/science/article/pii/S0092867417314496?via%3Dihub">Multiclonal Invasion in Breast Tumors Identified by Topographic Single Cell Sequencing</a></h4><span class="style_3">Cell</span>

                  <ul class="publication-authors">
                        <li>Anna K. Casasent</li>
                        <li>Ruli Gao</li>
                        <li>Emi Sei</li>
                        <li>William Pangburn</li>
                        <li>Tod Casasent</li>
                        <li>Anna K. Casasent</li>
                        <li>FundaMeric Bernstam</li>
                        <li>Mary E.Edgerton</li>
                        <li>Nicholas E. Navin</li>
                  </ul>
              </div>

              <div class="col-md-2 col-sm-3 col-xs-6">
                  <div class="publication-date">
                      <div><span class="year">2018</span><span class="month">Jan</span></div>
                  </div>
              </div>
          </div>



                 <div class="row publication">
                     <div class="col-md-4 col-sm-4 publication-image hidden-xs" style="text-align: right">
                         <a href="https://www.nature.com/articles/ng.3641"><img src="img/publications/punctuated.png" /></a>
                     </div>

                     <div class="col-md-6 col-sm-5 col-xs-6 publication-description">
                         <h4><a href="https://www.nature.com/articles/ng.3641">Punctuated copy number evolution and clonal stasis in triple-negative breast cancer</a></h4><span class="style_3">Nature Genetics</span>
                         <ul class="publication-authors">
                             <li>Ruli Gao</li>
                             <li>Alexander Davis</li>
                             <li>Thomas O McDonald</li>
                             <li>Emi Sei</li>
                             <li>Xiuqing Shi</li>
                             <li>Yong Wang</li>
                             <li>Anna Casasent</li>
                             <li>Jill Waters</li>
                             <li>Hong Zhang</li>
                             <li>Franziska Michor</li>
                             <li>Nicholas E. Navin</li>
                         </ul>
                     </div>

                     <div class="col-md-2 col-sm-3 col-xs-6">
                         <div class="publication-date">
                             <div><span class="year">2016</span><span class="month">Oct</span></div>
                         </div>
                     </div>
                 </div>

                 <div class="row publication">
                     <div class="col-md-4 col-sm-4 publication-image hidden-xs" style="text-align: right">
                         <a href="https://www.nature.com/articles/nature13600"><img src="img/publications/nature.png" /></a>
                     </div>

                     <div class="col-md-6 col-sm-5 col-xs-6 publication-description">
                         <h4><a href="https://www.nature.com/articles/nature13600">Clonal evolution in breast cancer revealed by single nucleus genome sequencing</a></h4><span class="style_3">Nature</span>
                         <ul class="publication-authors">
                             <li>Yong Wang</li>
                             <li>Jill Waters</li>
                             <li>Marco L. Leung</li>
                             <li>Anna Unruh</li>
                             <li>Whijae Roh</li>
                             <li>Xiuqing Shi</li>
                             <li>Ken Chen</li>
                             <li>Paul Scheet</li>
                             <li>Selina Vattathil</li>
                             <li>Han Liang</li>
                             <li>Hong Zhang</li>
                             <li>Rui Zhao</li>
                             <li>Franziska Michor</li>
                             <li>Funda Meric-Bernstam</li>
                             <li>Nicholas E. Navin</li>
                         </ul>
                       </div>

                     <div class="col-md-2 col-sm-3 col-xs-6">
                         <div class="publication-date">
                             <div><span class="year">2014</span><span class="month">Jul</span></div>
                         </div>
                     </div>
                 </div>

        <div class="row">
                <div class="col-lg-12 text-center">
                    <h3><a href="https://scholar.google.com/citations?hl=en&user=e4mp7GoAAAAJ&view_op=list_works&sortby=pubdate">See all publications <i class="fa fa-arrow-right"></i></a></h3>
                </div>
            </div>
    </section>
