<!-- About Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Our group has pioneered the development of single cell genome sequencing technologies, which we apply to understand complex biological processes in human cancers, including tumor initiation, invasion, metastasis and therapeutic resistance.  We study cancer as an evolutionary process in which clones undergo selection and expansion in response to selective pressures in tumor microenvironment.  In addition to single cell methodologies we have developed methods to perform genome sequencing in liquid biopsies, including both plasma DNA and circulating tumor cells to study clonal evolution longitudinally in serial blood samples.
                       xxx novel computational and statistical methods for analyzing large-scale single cell DNA and RNA sequencing datasets.  Our primary focus is on breast cancer patients.  At MD Anderson we are uniquely positioned to translate our single cell sequencing methods into the clinic, to improve early detection, non-invasive monitoring, diagnostics and guiding targeted therapy. These clinical applications are expected to have a major impact on reducing morbidity in cancer patients and improving their quality of life.<br／><br／><br／><br／></h3>
                </div>
            </div>
          <p> </p>
          <div class="row text-center">
              <div class="col-md-3">
                  <img src="img/research/R11.svg">
                  <h4 class="service-heading">Single Cell Sequencing</h4>
                  <p class="text-muted">We applied single-cell DNA and RNA sequencing in addition to bulk exome sequencing to profile longitudinal samples from 20 TNBC patients during neoadjuvant chemotherapy (NAC).</p>
              </div>
              <div class="col-md-3">
                  <img src="img/research/R22.svg">
                  <h4 class="service-heading">Cancer Genomics</h4>
                  <p class="text-muted">We developed Topographic Single Cell Sequencing (TSCS) to measure genomic copy number profiles of single tumor cells while preserving their spatial context in tissue sections.</p>
              </div>
              <div class="col-md-3">
                  <img src="img/research/R33.svg">
                  <h4 class="service-heading">Genome Evolution</h4>
                  <p class="text-muted">We use nanogrid technology with integrated imaging to sequence thousands of cancer nuclei in parallel from fresh or frozen tissue.</p>
              </div>
              <div class="col-md-3">
                  <img src="img/research/R44.svg">
                  <h4 class="service-heading">Tumor Heterogeneity</h4>
                  <p class="text-muted">We use unsupervised learning to integrate biological and clinical data and find innovative predictors of disease trajectories.</p>
              </div>
          </div>
        </div>
    </section>
