<!-- About Section -->
    <section id="research" style="padding-top:200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Our group has pioneered the development of single cell genome sequencing technologies,
                        which we apply to understand complex biological processes in human cancers, including tumor initiation, invasion, metastasis
                        and therapeutic resistance.  We study cancer as an evolutionary process in which clones undergo selection and expansion in
                        response to selective pressures.  We understand the tumor as a complex ecosystem which is maintained by intricate interactions
                        between the tumor cells and stromal cell types.  Our mission is to gain new knowledge of cancer evolution that can be exploited
                        to improve the quality of life and decrease morbidity in cancer patients.  At MD Anderson we are uniquely positioned to
                        to translate our genomic technologies into the clinic, where they are poised to make a major impact on early detection, diagnostics
                        and therapeutic strategies in cancer patients.
                        <br／><br／></h3>
                </div>
            </div>
          <p> </p>
          <div class="row text-center">
              <div class="col-md-3">
                  <img src="img/research/R11.svg">
                  <h4 class="service-heading">Single Cell Genomics</h4>
                  <p class="text-muted"></p>
              </div>
              <div class="col-md-3">
                  <img src="img/research/R44.svg">
                  <h4 class="service-heading">Cancer Evolution</h4>
                  <p class="text-muted"></p>
              </div>
              <div class="col-md-3">
                  <img src="img/research/R33.svg">
                  <h4 class="service-heading">Liquid Biopsy Genomics</h4>
                  <p class="text-muted"></p>
              </div>
              <div class="col-md-3">
                  <img src="img/research/R22.svg">
                  <h4 class="service-heading">Computational Biology</h4>
                  <p class="text-muted"></p>
              </div>
          </div>
        </div>
    </section>
