<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <!-- Team Section <p class="text-muted">{{ member.bio }}</p> -->
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
            <p align="left"><font size="4"><b>ALUMNI</b></font></p>
            </div>
            <div class="row">

              <li>Jill Waters, Laboratory Coordinator (2010-2013) &emsp; &emsp; &emsp; &emsp; &emsp;Yong Wang, Ph.D, Senior Postdoctoral Fellow</li>

              <li>Charissa Kim, MD / Ph.D. Student   &emsp; &emsp; &emsp; &emsp; &emsp; Anna Unruh, Graduate Student</li>

              <li>Marco Leung, Graduate Student &emsp; &emsp; &emsp; &emsp; &emsp; Pei-Ching Tsai, Senior Research Assistant</li>

              <li>Xiuqing Shi, M.D, Graduate Student &emsp; &emsp; &emsp; &emsp; &emsp; Antonio Giordano, MD, Ph.D</li>

              <li>Jerry Jiang, Undergraduate Student &emsp; &emsp; &emsp; &emsp; &emsp;Jose Acevedo, Undergraduate Student</li>

              <li>Rachael Brandt, Undergraduate Student &emsp; &emsp; &emsp; &emsp; &emsp; Jonathan Chen, Undergraduate Student</li>

              <li>Annalyssa Long, Research Assistant &emsp; &emsp; &emsp; &emsp; &emsp; Will Pangburn, Undergraduate Student</li>

              <li>Hossein Bakhshandeh, Undergraduate Student &emsp; &emsp; &emsp; &emsp; &emsp; Zuhal Oczan, Graduate Rotation Student</li>

              <li>Haowei Du, Masters Student &emsp; &emsp; &emsp; &emsp; &emsp;  Cheng Peng, Masters Student</li>
              
             </div>
             <p> </p>
             <p> </p>


            </div>
        </div>
    </section>
