<!-- videos Grid Section -->
<section id="videos">
<!-- <section id="videos" class="bg-light-gray">-->
    <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Videos</h2>
              </div>
          </div>
          <div class="embed-container">
            <iframe
              display: block; margin: 0 auto;
              src="https://www.youtube.com/embed/_a6_Sf_-_BU"
              width="640"
              height="360"
              frameborder="0"
              allowfullscreen="">
              </iframe>
          </div>
          <h3 class="section-subheading text-muted">
            EPISODE 1 - ‘Sequencing the Single Cancer Cell’ (2015) is a movie on our research that was produced by Illumina as part of a series titled ‘Adventures in Genomics’.
          </h3>
          <div class="embed-container">
              <iframe
                display: block; margin: 0 auto;
                src="https://www.youtube.com/embed/Dpq9gAg-5uA"
                width="640"
                height="360"
                frameborder="0"
                allowfullscreen="">
              </iframe>
            </div>
            <h3 class="section-subheading text-muted">
              EPISODE 2 - ‘Sequencing the Single Cell’ (2015) is the second episode on our work that was produced by Illumina as part of a series titled ‘Adventures in Genomics’.
            </h3>
            <h3 class="section-subheading text-muted">
              A big thanks to Jacques Retief, Swati and Illumina for producing these films
            </h3>
      </div>
    </div>
</section>
