<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include research.html %}
    {% include team.html %}
    {% include publications.html %}
    {% include news.html %}
    {% include software.html %}
    {% include protocols.html %}
    {% include youtubePlayer.html %}
    {% include photos.html %}
    {% include funding.html %}
    {% include jobs.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
